body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    margin-top: 10%;
}

.display-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

#binaryDisplay {
    color: #0080ff;
}

#decimalDisplay {
    color: #ff4500;
}


h1 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}
